@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
.navbar {
    padding: 0;
    background-color: #2a2a2a;
    height: 80px;
}

.navbar-branch img {
    margin-left: 10%;
    width: auto;
    height: 60px;
}

.nav-product {
    margin: 0 20px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.input-group {
    right: 220%;
    width: 200%;
}

.btn-secondary{
    position: absolute;
    right: 2%;
    cursor: pointer;
    z-index: 10000;
    background-color: transparent;
    border: none;
    color: black;
    &:hover {
        color: rgb(104, 220, 255) !important;
        background-color: transparent;
    }
}

.btn-first {
    border: 0;
    margin: 0;
    padding: 27px 0;
    position: absolute;
    right: 2%;
    color: white;
    &:hover {
        color: rgb(104, 220, 255);
    }
}

#btn {
    padding: 27px 0;
}

.nav-cart .nav-product {
    position: absolute;
    padding: 27px 0;
    right: 6%;
    &:hover {
        color: rgb(104, 220, 255);
    }
}

.nav-item .nav-product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    width: 100%;
    margin-left: 30px;
}

.nav-item .nav-product:hover {
    color: white;
    text-decoration: none;
}

.nav-item .nav-product::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    background-color: rgb(104, 220, 255);
}

.nav-item .nav-product:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}